// Background
$color__body-background: #fff;
$color__light-background: #fff;
$color__dark-background: #121212;
$color__selection-background: #5a768e;
$color__screen-background: #f8f4f0;

// Text
$color__main-text: #121212;
$color__white-text: #fff;
$color__black-text: #121212;
$color__selection-text: #fff;
$color__screen-text: #fff;

// Links
$color__link: #212128;
$color__link-hover: #2e397c;

// Button
$color__button-background: #2e397c;
$color__button-hover-background: #c4b387;
$color__button-text: #fff;
$color__button-hover-text: #212128;
$color__button-border: #2e397c;

// Border
$color__blue-border: #2e397c;
$color__gold-border: #c4b387;
$color__input-border: #2e397c;
$color__abbr-border: #fff;
