// Headings
$font-size-title: 96 !default;
$font-size-h1:  46  !default;
$font-size-h2:  38  !default;
$font-size-h3:  28  !default;
$font-size-h4:  24  !default;
$font-size-h5:  18  !default;
$font-size-h6:  16  !default;
