// Path is relative to the stylesheets directory.
$assets-path: '.' !default;

$size__site-main: 100%;
$size__site-height: 100vh;
$size__site-sidebar: 25%;

$size__site-header-height: 128;
$size__site-header-gap: 48;

$size__site-gap: 192;

$size__site-wrapper: 92%;
$size__site-wrapper-padding: 4%;

$enable-smooth-scroll: true !default;
