:where(h1, h2, h3, h4, h5, h6) {
    font-family: $font__primary;
    font-weight: 700;
    margin: 0 0 rem(24px);
    line-height: 1;
}

:is(.--title) {
    font-size: rem($font-size-title);
    text-align: center;
}

:where(h1, .--h1) {
    font-size: rem($font-size-h1);
}

:where(h2, .--h2) {
    font-size: rem($font-size-h2);
}

:where(h3, .--h3) {
    font-size: rem($font-size-h3);
}

:where(h4, .--h4) {
    font-size: rem($font-size-h4);
}

:where(h5, .--h5) {
    font-size: rem($font-size-h5);
}

:where(h6, .--h6) {
    font-size: rem($font-size-h6);
}
